# Created by https://www.gitignore.io/api/idris,elixir,haskell

### Elixir ###
/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam

### Elixir Patch ###
### Haskell ###
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

### Idris ###
*.ibc

# End of https://www.gitignore.io/api/idris,elixir,haskell

examples/play/*
examples/*.exs
examples_2/*